.foods-container {
    background: url(https://img.freepik.com/free-photo/set-fruits-seeds-leaves_23-2148145087.jpg?w=2000) no-repeat;
    width: 100%;
    height: 1000px;
    background-size: cover;
}

h4{
    font-weight: 500;
}

table {
    background-color: white;
}