<div class="page-not-found-container">
    <div class="row">
        <div class="col page-not-found-col">
            <h3 class="font-weight-bold">OOPS! We can't find what you're looking for :(</h3>
            <img src="https://img.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg?size=626&ext=jpg&ga=GA1.2.893705437.1657653030"
                alt="page not found">
            <!-- <a class="d-block btn back-btn" [routerLink]="['/','home']" routerLinkActive="active-link">Go to back</a> -->
        </div>
    </div>
</div>
