<div class="page-not-found-container">
    <div class="row">
        <div class="col nothing-to-display-col">
            <h3 class="font-weight-bold">Oh-oh! You didn't add anything yet :(</h3>
            <img style="width:30vw; height:50vh;" alt="no items found"
                src="https://img.freepik.com/free-vector/business-team-looking-new-people-allegory-searching-ideas-staff-woman-with-magnifier-man-with-spyglass-flat-illustration_74855-18236.jpg?w=1380&t=st=1660164407~exp=1660165007~hmac=3a18ba74e6ce528b8521f4e66d57e23b83c7976c6e30a7a3683c312145f8296c">
        </div>
    </div>
</div>
